@font-face {
  src: url("./Raleway-Regular.ttf");
  font-family: rale; }
body {
  background: whitesmoke;
  margin: 0;
  color: #242424;
  font-family: rale;
  text-transform: uppercase;
  letter-spacing: 1px; }
  body .world {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; }
    body .world .HeroPickList, body .world .HeroPickList-hide {
      position: absolute;
      background: #fff;
      top: -10px;
      width: 520px;
      height: 220px;
      text-align: center;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
      z-index: 2;
      transition: 0.8s transform cubic-bezier(0.47, -0.24, 0.51, 0.84), 2s opacity ease; }
      body .world .HeroPickList h5, body .world .HeroPickList-hide h5 {
        margin: 0;
        margin-top: 30px; }
      body .world .HeroPickList__list {
        height: 100px;
        padding: 0;
        margin: 0;
        list-style: none;
        margin: 15px 30px;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box; }
        body .world .HeroPickList__list li {
          width: 100px;
          border: solid #e6e6e6 2px;
          background: white;
          position: relative;
          transition: all 0.1s ease;
          background: url("./patatas5.svg") no-repeat center;
          background-size: 80px 80px;
          cursor: pointer; }
          body .world .HeroPickList__list li span {
            font-size: 12px;
            position: absolute;
            bottom: 5px;
            left: 0;
            right: 0;
            font-weight: bold; }
          body .world .HeroPickList__list li:hover:not(.picked) {
            border: solid #242424 2px; }
        body .world .HeroPickList__list .picked {
          opacity: 0.5;
          cursor: default;
          transform: scale(0.95);
          transition: all 0.2s ease; }
      body .world .HeroPickList .fightbtn, body .world .HeroPickList-hide .fightbtn {
        background: white;
        border: solid #242424 2px;
        padding: 5px 10px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        transition: all 0.2s ease;
        cursor: pointer; }
        body .world .HeroPickList .fightbtn:disabled, body .world .HeroPickList-hide .fightbtn:disabled {
          border: solid #e6e6e6 2px;
          color: #e6e6e6;
          cursor: default;
          transform: scale(0.95); }
        body .world .HeroPickList .fightbtn:active, body .world .HeroPickList-hide .fightbtn:active {
          background: #242424;
          color: white; }
      body .world .HeroPickList-hide {
        transform: translateY(-250px); }
    body .world .HeroArena {
      box-sizing: border-box;
      margin: auto;
      width: 500px;
      height: 300px;
      display: flex;
      justify-content: space-between;
      position: relative; }
      body .world .HeroArena .vs, body .world .HeroArena .vs-hide {
        position: absolute;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 60px;
        left: 50%;
        margin-left: -25px;
        transition: 0.3s ease all;
        opacity: 1;
        transform: scale(1); }
        body .world .HeroArena .vs-hide {
          opacity: 0;
          transform: scale(0); }
      body .world .HeroArena .restartbtn, body .world .HeroArena .restartbtn-hide {
        position: absolute;
        border: none;
        background: white;
        border: solid #242424 2px;
        width: 70px;
        left: 50%;
        margin-left: -35px;
        top: 93px;
        padding: 5px 10px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.3s ease;
        opacity: 1;
        transform: scale(1); }
        body .world .HeroArena .restartbtn-hide {
          transform: scale(0);
          opacity: 0; }
        body .world .HeroArena .restartbtn:hover, body .world .HeroArena .restartbtn-hide:hover {
          background: #242424;
          color: white; }
        body .world .HeroArena .restartbtn:active, body .world .HeroArena .restartbtn-hide:active {
          transform: scale(0.95); }
@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0.8); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(1); } }
      body .world .HeroArena .HeroWindow {
        background: white;
        width: 200px;
        height: 220px;
        border: solid #e6e6e6 2px;
        position: relative;
        display: flex; }
        body .world .HeroArena .HeroWindow .topLabel {
          position: absolute;
          bottom: 65%;
          width: 100%;
          text-align: center;
          padding: 10px;
          box-sizing: border-box;
          font-size: 20px;
          height: 100px; }
          body .world .HeroArena .HeroWindow .topLabel .damage, body .world .HeroArena .HeroWindow .topLabel .win {
            margin: 0;
            height: 20px;
            display: inline-block;
            position: absolute;
            bottom: 0px;
            left: 0;
            right: 0;
            text-align: center;
            opacity: 0;
            animation: fadeUp 1.5s ease; }
          body .world .HeroArena .HeroWindow .topLabel .win {
            opacity: 1;
            bottom: 40px;
            animation: fadeUp2 0.3s ease; }
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(0px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(-40px); } }
@keyframes fadeUp2 {
  0% {
    opacity: 0;
    transform: translateY(40px); }
  90% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
        body .world .HeroArena .HeroWindow__face, body .world .HeroArena .HeroWindow__face-left-attack, body .world .HeroArena .HeroWindow__face-left-def, body .world .HeroArena .HeroWindow__face-left-poker, body .world .HeroArena .HeroWindow__face-left-miss, body .world .HeroArena .HeroWindow__face-right-attack, body .world .HeroArena .HeroWindow__face-right-def, body .world .HeroArena .HeroWindow__face-right-poker, body .world .HeroArena .HeroWindow__face-right-miss {
          width: 100%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          position: relative;
          background-size: 220px;
          background-position: 150% 100%;
          background-repeat: no-repeat; }
          body .world .HeroArena .HeroWindow__face-left-attack {
            background-image: url("./patatas1.svg");
            transform: scaleX(-1); }
          body .world .HeroArena .HeroWindow__face-left-def {
            background-image: url("./patatas2.svg");
            transform: scaleX(-1); }
          body .world .HeroArena .HeroWindow__face-left-poker {
            background-image: url("./patatas3.svg");
            transform: scaleX(-1); }
          body .world .HeroArena .HeroWindow__face-left-miss {
            background-image: url("./patatas4.svg");
            transform: scaleX(-1); }
          body .world .HeroArena .HeroWindow__face-right-attack {
            background-image: url("./patatas1.svg"); }
          body .world .HeroArena .HeroWindow__face-right-def {
            background-image: url("./patatas2.svg"); }
          body .world .HeroArena .HeroWindow__face-right-poker {
            background-image: url("./patatas3.svg"); }
          body .world .HeroArena .HeroWindow__face-right-miss {
            background-image: url("./patatas4.svg"); }
        body .world .HeroArena .HeroWindow__info {
          position: absolute;
          height: 50px;
          width: 200px;
          bottom: -65px;
          display: inline-flex;
          flex-direction: column; }
          body .world .HeroArena .HeroWindow__info .heroname {
            box-sizing: border-box;
            text-align: center;
            font-size: 12px;
            padding: 5px;
            text-align: center;
            background: #242424;
            color: white;
            position: absolute;
            margin: 0;
            bottom: 110%;
            width: 80px; }
            body .world .HeroArena .HeroWindow__info .heroname-right {
              right: -5px; }
            body .world .HeroArena .HeroWindow__info .heroname-left {
              left: -5px; }
          body .world .HeroArena .HeroWindow__info .lifeBarContainer {
            position: relative;
            width: 200px;
            border: solid transparent 2px;
            outline: solid #242424 2px;
            height: 10px;
            display: inline-flex;
            box-sizing: border-box;
            background: white; }
            body .world .HeroArena .HeroWindow__info .lifeBarContainer .lifeBar {
              height: 100%;
              position: absolute;
              background: #242424;
              transition: all 0.3s ease; }
              body .world .HeroArena .HeroWindow__info .lifeBarContainer .lifeBar__right {
                right: 0; }
              body .world .HeroArena .HeroWindow__info .lifeBarContainer .lifeBar__left {
                left: 0; }
            body .world .HeroArena .HeroWindow__info .lifeBarContainer .healthPoints__Container {
              position: absolute;
              height: 20px;
              bottom: -26px;
              display: inline-flex; }
              body .world .HeroArena .HeroWindow__info .lifeBarContainer .healthPoints__Container span {
                font-size: 15px;
                letter-spacing: 0;
                color: #3a3a3a; }
              body .world .HeroArena .HeroWindow__info .lifeBarContainer .healthPoints__Container .t {
                font-weight: bold;
                font-size: 12px; }
              body .world .HeroArena .HeroWindow__info .lifeBarContainer .healthPoints__Container .n {
                margin: 0 5px; }
              body .world .HeroArena .HeroWindow__info .lifeBarContainer .healthPoints__Container__left {
                left: -4px; }
                body .world .HeroArena .HeroWindow__info .lifeBarContainer .healthPoints__Container__left .n {
                  order: 2; }
                body .world .HeroArena .HeroWindow__info .lifeBarContainer .healthPoints__Container__left .t {
                  order: 1; }
              body .world .HeroArena .HeroWindow__info .lifeBarContainer .healthPoints__Container__right {
                right: -4px; }
                body .world .HeroArena .HeroWindow__info .lifeBarContainer .healthPoints__Container__right .n {
                  order: 1; }
                body .world .HeroArena .HeroWindow__info .lifeBarContainer .healthPoints__Container__right .t {
                  order: 2; }

/*# sourceMappingURL=index.css.map */
